{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}

{% block body %}

<div>
   
  <div class="card-header-tab card-header">
   <h1>Todo List</h1>
            </div>
{{include('/todo/_form.html.twig', {textSubmit:"Add Task"})}} <br />
{% for todo in todos %}
<div class="main row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
          
{{ todo.title }}

<a href="{{ path("app_todo_edit", {id:todo.id}) }}">Edit</a>
<a href="{{ path("app_todo_delete", {id:todo.id}) }}" onclick="return confirm('Are you sure?')" >Delete</a>
</div>
</div>
{% endfor %}

</div>
{% endblock %}
