{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}

{% block body %}

<div>
    <h1>Todo List:</h1>

{{include('/todo/_form.html.twig')}}
{% for todo in todos %}
<ul>
<li>
{{ todo.title }}
</li>
</ul>
{% endfor %}

</div>
{% endblock %}
